/*OVERALL*/
@font-face{
  font-family: Gangster;
  src: url(fonts/gangstergrotesk-light.woff2);
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: Gangster;
  src: url(fonts/gangstergrotesk-regular.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Gangster;
  src:url(fonts/gangstergrotesk-bold.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: DMSans;
  src: url(fonts/DMSans-Regular.woff2);
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: DMSans;
  src: url(fonts/DMSans-Medium.woff2);
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: DMSans;
  src:url(fonts/DMSans-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: DMSans;
  src: url(fonts/DMSans-Italic.woff2);
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: DMSans;
  src: url(fonts/DMSans-MediumItalic.woff2);
  font-weight: bolder;
  font-style: italic;
}
@font-face{
  font-family: DMSans;
  src:url(fonts/DMSans-BoldItalic.woff2);
  font-weight: bold;
  font-style: italic;
}


:root {
	--fontSizeXS: 1.4vw; /*16px;*/
	--fontSizeS: 20px;
	--fontSizeM: 30px;
	--fontSizeL: 50px;
	--fontSizeXL: 70px;
	--blue: rgb(40,110,190);
	--lightblue: rgb(70,160,250);
	--margin: 20px;
}

* {
	font-family: DMSans;
	font-weight: 100;
	font-style: normal;
	font-size: var(--fontSizeXS);
  /*unselectable*/
  -webkit-user-select: none;  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*hide scrollbar*/
  -ms-overflow-style: none;
  scrollbar-width: none;

  cursor: url("data:image/svg+xml,%3Csvg height='11' width='11' id='Livello_1' data-name='Livello 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.1 10.1'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23286EBE;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='4' cy='4' r='4'/%3E%3C/svg%3E"), pointer!important;
}
*::-webkit-scrollbar {
  display: none;
}

html, .main, .multiple_texts {
	scroll-behavior: smooth;
}

body{
	font-family: Helvetica;
	color: black;
	/*padding: var(--margin);*/
	overflow: hidden;
	height: auto;
}

.left_text {
	position: fixed;
	left: 10px;
	top: 50%;
	transform-origin: center left;
	transform: rotate(-90deg) translate(-50%, 100%);
	transition: opacity .4s;
}
.left_text.before_change:before {
	content: url("data:image/svg+xml,%3Csvg id='Livello_1' data-name='Livello 1' xmlns='http://www.w3.org/2000/svg' width='33.03' height='10.35' viewBox='0 0 33.03 10.35'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none%3B stroke: %231d1d1b%3B stroke-miterlimit: 10%3B %7D %3C/style%3E%3C/defs%3E%3Cline class='cls-1' x1='0.29' y1='5.18' x2='33.03' y2='5.18'/%3E%3Cline class='cls-1' x1='0.29' y1='5.19' x2='7.03' y2='0.41'/%3E%3Cline class='cls-1' x1='0.29' y1='5.15' x2='7.03' y2='9.94'/%3E%3C/svg%3E");
	right: 6em;
	position: absolute;
}

header {
	z-index: 2;
	background-color: white;
	/*border-bottom: 1px solid red;*/
	position: fixed;
	top: 0;
	left: 0;
	padding: var(--margin);
	height: 120px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

header .logo_wrapper.first > figure > img {
	opacity: 1;
	transition: opacity .4s;
}

header a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
}
header > div.desktop > a:not(.contact):not(.active)::before {
	content:'';
	display: inline-block;
	width: .6em;
	height: .6em;
	border-radius:.6em;
	align-items: bottom;
	margin-right: 6px;
	margin-left: -1em;
	margin-top: 0.46em;
	position: absolute;

	background-color: white;
	transition: background-color .2s;
}
header > div.desktop > a:not(.contact).active::before {
	content:'';
	display: inline-block;
	width: .6em;
	height: .6em;
	border-radius:.6em;
	align-items: bottom;
	margin-right: 6px;
	margin-left: -1em;
	margin-top: 0.46em;
	position: absolute;

	background-color: var(--lightblue);
	transition: background-color .2s;
}
header > div.desktop.header_link > a {
	transition: color .4s;
}
header > div.desktop.header_link > a:hover {
	color: var(--lightblue);
}
header a.contact {
	background-color: var(--blue);
	color: white;
	padding: 10px;
	border-radius: 20px;
	transition: background-color .4s, color .4s;
}
header a.contact:hover {
	background-color: var(--lightblue);
	color: white;
}
header figure.logo {
	width: 140px;
	margin-top: 40px;
	margin-left: .6vw;
}
header figure.logo > img {
	width: 100%;
}
header .mobile {
	display: none;
}
header .mobile_toggle {
	display: none;
	z-index: 4;
}
header .mobile > a.plus {
	font-size: 60px;
	color: var(--blue);
	height: 100%;
	display: inline-block;
	line-height: 100%;
	margin-top: -.3em;
	cursor: pointer;
	transition: .4s transform, .4s color;
}
header .mobile > a.rotated {
	transform: rotate(45deg);
	color: white;
}
header > .mobile_menu {
	width: 100vw;
	padding: 10%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--blue);
	color: white;
	z-index: 3;
	transition: .4s transform;
	transform: translate(0,-100%);
}
header > .mobile_menu.inView {
	transform: translate(0,0);
}
header > .mobile_menu > div {
	text-align: center;
}
header > .mobile_menu > div > a {
	font-size: var(--fontSizeM);
	line-height: 200%;
	text-decoration: underline;
}

/*main:first-child section{
	background-color: rgb(0,0,255,.2);
	height: 600px;
	width: 600px;
	display: block;
}*/

div.main {
	height: 100vh; /*calc(100vh - var(--margin)*2);*/
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
  flex-wrap: unset;
	overscroll-behavior-y: contain;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
div.main.partlyHidden {
	opacity: .2;
	overflow: hidden;
}

div.main > div.section {
	/*min-height: calc(100vh - var(--margin)*2);*/
	min-height: auto;
	width: 100%;
	scroll-snap-align: start;
  position: relative;
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
  /*padding-top: 10%;*/
}

div.section:not(:first-child) {
	margin-top: var(--margin);
}

div.section.intro {
	min-height: calc(100vh - var(--margin)*2)!important;
	min-height: 100vh!important;
	position: relative;
}
div.section.intro > .title {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.section.about {
	/*background-color: rgb(0,0,255,.2);*/
	min-height: 100vh!important; /*calc(100vh - var(--margin)*2)!important;*/
	margin-bottom: 6em;
}
div.section.servizi,
div.section.chisiamo {
	padding-top: 14%!important;
}

div.main > .intro > .title,
div.main > .intro > .title > span,
div.main > .intro > .title #scroll-text {
	font-size: var(--fontSizeXL);
}
div.main > .intro > .title #scroll-container {
	display: inline-block;
	position: absolute;
}
div.main > .intro > .title #scroll-container.first {
	top: -.8rem;
}
div.main > .intro > .title #scroll-container.second {
	top: 4.4rem;
}
div.main > .intro > .title #scroll-container.third {
	top: 9.5rem;
}
div.main > .intro > .title #scroll-container.fourth {
	top: 14.6rem;
}

#scroll-container {
  /*border: 3px solid black;*/
  border-radius: 5px;
  overflow: hidden;
  height: 6.4rem;
	vertical-align: middle;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  -moz-animation: my-animation 10s ease-in-out infinite;
  -webkit-animation: my-animation 10s ease-in-out infinite;
  animation: my-animation 10s ease-in-out infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
	/*77,37,3 — .15, 2.05, 4.25*/
  /*from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }*/
  0% {
  	-moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  10%,30% { /*23*/
  	-moz-transform: translateY(-77%);
    -webkit-transform: translateY(-77%);
    transform: translateY(-77%);
  }
  40%,60% { /*40*/
  	-moz-transform: translateY(-37%);
    -webkit-transform: translateY(-37%);
    transform: translateY(-37%);
  }
  70%,90% { /*34*/
  	-moz-transform: translateY(3%);
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% { /*???*/
  	-moz-transform: translateY(43%);
    -webkit-transform: translateY(43%);
    transform: translateY(43%);
  }
}

/*_____*/
/*div.main > .intro > .title > .pulse {
	font-size: var(--fontSizeXL);
	display: inline-block;
	color: var(--lightblue);

  animation-name: changeColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.main > .intro > .title > .pulse.second {
  animation-delay: 1s;
}
div.main > .intro > .title > .pulse.third {
  animation-delay: 100s;
}
div.main > .intro > .title > .pulse.fourth {
  animation-delay: 100s;
}

@keyframes changeColor {
  0%, 40%, 60%, 100% {
  	-moz-color: var(--lightblue);
    -webkit-color: var(--lightblue);
    color: var(--lightblue);
  }

  50% {
  	-moz-color: white;
    -webkit-color: white;
    color: white;
  }
}*/
div.main > .intro > .title > .pulse {
	font-size: var(--fontSizeXL);
	display: inline-block;
	color: var(--lightblue);
}



div.section .title {
	font-family: Gangster;
	font-size: var(--fontSizeL);
	margin-block-end: 60px;
	line-height: 110%;
}
div.main > .intro > .title * {
	font-family: Gangster;
}
div.section > .text {
	font-size: var(--fontSizeM);
	margin-block-end: 60px;
}
div.section > .text > b {
	font-size: var(--fontSizeM);
	font-weight: bolder;
}

.option_buttons {
	display: flex;
	flex-direction: column;
	height: auto;
	gap: 4px;
	margin-block-end: 60px;
}

.option_buttons > .option_duo > .button/*,
.option_buttons > .option_duo .option_moreoptions > div:first-child*/ {
	font-size: var(--fontSizeXS);
	font-weight: 400;
	color: white;
	background-color: var(--blue);
	height: 2.8em;
	padding-top: .2em;
	display: inline-flex;
  align-items: center;
  justify-content: center;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	border-radius: 1.3em;
	cursor: pointer;
	width: 100%;
}
.option_buttons > .option_duo > .button:hover {
	background-color: var(--lightblue);
}
/*.option_buttons > .option_duo .option_moreoptions > div:first-child {
	background-color: var(--lightblue);
	cursor: auto;
}
.option_buttons > .option_duo .option_moreoptions > div:not(:first-child) {
	font-size: var(--fontSizeXS);
	font-weight: 400;
	height: 2.8em;
	padding-top: .2em;
	display: inline-flex;
  align-items: center;
  justify-content: center;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	width: 100%;
}*/
.option_buttons > .option_duo .option_moreoptions > li {
	font-size: var(--fontSizeXS);
	font-weight: 400;
	display: inline-flex;
  align-items: center;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	line-height: 100%;
}
.option_buttons > .option_duo .option_moreoptions > li:not(:first-child) {
	margin-top: 1.4em;
}

.option_buttons > .option_duo {
	display: flex;
	flex-direction: column;
}

.option_buttons > .option_duo > .option_inside {
	display: flex;
	padding-top: 20px;
	padding-bottom: 30px;
	gap: 20px;
	transition: max-height .4s, padding .5s;
	max-height: 1000px;
}
.option_buttons > .option_duo > .option_inside > .option_moreoptions {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.option_buttons > .option_duo > .option_inside > .descript {
	flex: 2;
	line-height: 120%;
	padding-top: 1em;
	overflow: hidden;
}

.option_buttons > .option_duo > .option_inside.closed {
	padding: 0px;
	max-height: 0;
	overflow: hidden;
}


.section.about > .multiple_texts {
	/*background-color: rgb(255,0,0,.2);*/
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.section.about > .multiple_texts > .text,
.section.about > .multiple_texts > .text > span{
	font-size: var(--fontSizeM);
	min-width: 100%;
	scroll-snap-align: start;
  position: relative;
  margin: 0;
}
.section.about > .multiple_texts > .text > span {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
}
@-webkit-keyframes pulsate {
    0% { 
        color: black;
    }
    35%,65% { 
        color: var(--lightblue);
    }
    100% { 
        color: black;
    }
}

.section.about > .multiple_texts_slider {
	margin-block-start: 1.4em;
	display: flex;
	gap: 10px;
	position: absolute;
	bottom: 12%;
}
.section.about > .multiple_texts_slider > a {
	display: inline-flex;
  width: .8rem;
  height: .8rem;
  background: white;
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--lightblue);
  transition: .4s background;
}
.section.about > .multiple_texts_slider > a.active {
  background: var(--lightblue);
}

div.section.chisiamo > .title {
	text-align: center;
}
div.section.chisiamo > .figure_frame {
	position: relative;
}
div.section.chisiamo > .figure_frame > figure > .dot_ginevra,
div.section.chisiamo > .figure_frame > figure > .dot_haiat {
	background-color: var(--lightblue);
	width: 15px;
	height: 15px;
	border-radius: 15px;
	position: absolute;
	cursor: pointer;
}
div.section.chisiamo > .figure_frame > figure > .dot_ginevra:hover,
div.section.chisiamo > .figure_frame > figure > .dot_haiat:hover {
	background-color: var(--blue);
}
div.section.chisiamo > .figure_frame > figure > .dot_ginevra {
	left: 20%;
	top: 80%;
}
div.section.chisiamo > .figure_frame > figure > .dot_haiat {
	right: 15%;
	top: 60%;
}
div.section.chisiamo > .figure_frame > .frame_ginevra,
div.section.chisiamo > .figure_frame > .frame_haiat {
	position: absolute;
	width: 50%;
	background-color: var(--blue);
	padding: 20px;
	border-radius: 30px;
	color: white;
	z-index: 1;
	display: none;
}
div.section.chisiamo > .figure_frame > .frame_ginevra {
	left: -20%;
	top: 90%;
}
div.section.chisiamo > .figure_frame > .frame_haiat {
	right: 20%;
	top: 70%;
}
div.section.chisiamo > .figure_frame > .frame_ginevra > .name,
div.section.chisiamo > .figure_frame > .frame_haiat > .name {
	font-weight: 400;
	font-size: var(--fontSizeXS);
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}
div.section.chisiamo > .figure_frame > .frame_ginevra > .social,
div.section.chisiamo > .figure_frame > .frame_haiat > .social {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	right: 2em;
	top: 18px;
	background-color: white;
	border-radius: 20px;
}
div.section.chisiamo > .figure_frame > .frame_ginevra > .info,
div.section.chisiamo > .figure_frame > .frame_haiat > .info {
	font-weight: 400;
	font-size: var(--fontSizeXS);
}


figure.image {
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-block-end: 60px;
}
figure.image > img {
	width: 100%;
	aspect-ratio: 3/2;
}
div.section.chisiamo > .text {
	font-size: var(--fontSizeM);
}

div.section.career {
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding-left: 10%!important;
	padding-right: 10%!important;
}
div.section.career .text {
	font-size: var(--fontSizeS);
}
div.section.career > .left {
	flex: 3 5;
}
div.section.career > .right {
	flex: 2 5;
}
div.section.career > .right > .card {
	background-color: var(--blue);
	padding: 20px;
	color: white;
	border-radius: 20px;
	position: relative;
	transition: background-color .4s;
}
div.section.career > .right > .card:hover {
	background-color: var(--lightblue);
}
div.section.career > .right > .card > .top > .title {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 400;
	font-size: var(--fontSizeXS);
}
div.section.career > .right > .card > .top > .sliders {
	margin-block-start: 20px;
	margin-right: 20px;
	display: flex;
	gap: 6px;
	position: absolute;
	top: 0;
	right: 0;
}
div.section.career > .right > .card > .top > .sliders > a {
	display: inline-flex;
  width: .8rem;
  height: .8rem;
  background: none;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  transition: .4s background;
  cursor: pointer;
}
div.section.career > .right > .card > .top > .sliders > a.active {
  background: white;
}
div.section.career .bottom {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin-bottom: 2em;
}
div.section.career .bottom > .descript {
	font-size: var(--fontSizeS);
	color: white;
	margin-block-end: 30px;
	max-height: 12em;
	overflow: scroll;
	min-width: 100%;
	scroll-snap-align: start;
}
div.section.career .card > a {
	font-size: var(--fontSizeS);
	color: white;
	font-weight: 400;
	position: absolute;
	bottom: 20px;
}


div.section.contattaci {
	padding-left: 10%!important;
	padding-right: 10%!important;
	min-height: 100vh!important;
}
div.section.contattaci > .title {
	text-align: center;
}
div.section.contattaci > .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 40%;
	margin: auto;
}
div.section.contattaci > .buttons > a {
	height: 80px;
	width: 80px;
	color: white;
}
div.section.contattaci .buttons {
	height: 80px;
}


footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p {
	font-weight: 400;
}
footer > .left > p:first-child {
	text-decoration: underline;
}



/*############*/
/*QUERY MOBILE*/
/*############*/
@media screen and (max-width: 768px) {
	:root {
		--fontSizeXS: 13px;
		--fontSizeS: 14px;
		--fontSizeM: 20px;
		--fontSizeL: 30px;
		/*--margin: 20px;*/
	}

	.main {
		width: 100vw;
		overflow-x: hidden;
	}
	.left_text {
		display: none;
	}
	header {
		padding: 10px;
		height: 80px;
	}
	header figure.logo {
		width: 60%;
		margin-top: 0px;
		margin-left: 0;
	}
	header .desktop {
		display: none;
	}
	header .mobile {
		display: inline-block;
	}

	div.main > div.section {
		padding: 10%;
		padding-top: 80px!important;
	}
	div.main > .intro > .title,
	div.main > .intro > .title > span {
		font-size: var(--fontSizeL);
	}

	div.section .title {
		font-weight: 600;
	}




	/*SERVIZI*/
	.option_buttons,
	div.section.chisiamo > .text {
		margin-block-end: 100%;
	}
	div.section.career > .right {
		margin-block-end: 30%;
	}
	.option_buttons > .option_duo > .option_inside {
		flex-direction: column;
	}
	.option_buttons > .option_duo > .option_inside > .option_moreoptions {
		padding: 0;
		margin: 0;
	}
	.option_buttons > .option_duo > .option_inside > .option_moreoptions > li {
		text-align: center;
		display: block;
	}
	.option_buttons > .option_duo > .option_inside > .descript {
		padding-top: 0;
	}
	/*.option_buttons > .option_duo {
		height: 3em;
	}
	.option_buttons > .option_duo > .option_inside {
		background-color: var(--blue);
		border-radius: 0 0 20px 20px;
		margin-top: -1.4em;
		z-index: -1;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		color: white;
		flex-direction: column;
	}
	.option_buttons > .option_duo > .option_inside > .descript {
		width: calc(100% - 20px);
	}
	.option_buttons > .option_duo > .option_inside > .option_moreoptions {
		padding: 0;
		width: calc(100% - 20px);
	}
	.option_buttons > .option_duo > .option_inside > .option_moreoptions > li {
		text-align: center;
	}*/

	/*CHI SIAMO*/
	div.section.chisiamo > .figure_frame > .frame_ginevra {
		left: -6%;
	}
	div.section.chisiamo > .figure_frame > .frame_haiat {
		right: 6%;
	}
	div.section.chisiamo > .figure_frame > .frame_ginevra,
	div.section.chisiamo > .figure_frame > .frame_haiat {
		width: 96%;
	}
	div.section.chisiamo > .figure_frame > .frame_ginevra > .name,
	div.section.chisiamo > .figure_frame > .frame_haiat > .name {
		text-align: left;
	}


	/*ABOUT*/
	.section.about > .multiple_texts {
		height: 100%;
	}

	/*CAREER*/
	div.section.career {
		flex-direction: column;
	}

	/*CONTATTI*/
	div.section.contattaci > .buttons {
		max-width: 60%;
	}

	footer {
		position: relative;
		left: 0;
		transform: none;
		width: 100%;
		flex-direction: column;
	}
	footer p {
		font-size: var(--fontSizeM);
		text-align: center;
		font-weight: 100;
		line-height: 110%;
	}
	footer > .right > p:first-child {
		margin: 0;
	}
}
